@use "../../styles/utils.scss" as utils;
@use "../../styles/typography.scss" as typo;

.view-container {
  background-color: var(--color-gray-30);
  position: relative;

  & .header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    height: 66px;
    width: 100vw;
    background-color: var(--color-gray-20);
    border-bottom: 1px solid var(--color-gray-50);
    & .filter-button {
      width: 16px;
      height: 16px;
      border: none;
      background-color: transparent;
      margin: 4px;
    }
    & .back-button {
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
    }
    & .login-profile {
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
    }
    & .profile-pic {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
    & .avatar {
      position: relative;
      width: 24px;
      height: 24px;

      & .progress-circle {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
        background-color: transparent;
        & .circle-bg {
          fill: none;
          stroke: var(--color-gray-30);
          stroke-width: 4;
        }

        & .circle {
          fill: none;
          stroke: var(--color-blue-50);
          stroke-width: 4;
          stroke-linecap: round;
          transition: stroke-dasharray 0.3s;
        }
      }
      & .profile-input {
        display: none;
      }
      & .profile-options {
        position: absolute;
        top: 35px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 136px;
        height: 98px;
        background-color: var(--color-gray-10);
        border-radius: 10px;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        padding-inline: 10px;
        gap: 10px;

        & button {
          width: 100%;
          border: none;
          background-color: transparent;
          display: flex;
          align-items: center;
          gap: 10px;
        }
        & .change-profile {
          color: var(--color-gray-400);
        }
        & .logout {
          color: var(--color-red-50);
        }
      }
    }
  }

  & .issue-filter {
    position: fixed;
    z-index: 2;
    padding-top: 74px;
    padding-inline: 20px;
    padding-bottom: 73px;
    height: 100vh;
    width: 100%;
    background-color: var(--color-gray-10);
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    @include utils.scroll-hidden;

    & .filter-main {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 24px;
      & .filter-related {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 16px;
        & .filter-label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          & .label-icon {
            width: 12px;
            height: 12px;
          }
          & .label-text {
            color: var(--color-gray-100);
            @include typo.label-medium-1;
          }
        }

        & .filter-search {
          background-color: var(--color-gray-00);
          border: 1px solid var(--color-gray-50);
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding-inline: 12px;
          padding-block: 6px;
          & .search-icon {
            width: 24px;
            height: 24px;
          }
          & .search-input {
            width: 100%;
            border: none;
            background-color: transparent;
            padding-inline: 8px;
            padding-block: 4px;
            @include typo.title-medium-1;
            color: var(--color-gray-300);
            &::placeholder {
              color: var(--color-gray-100);
              @include typo.title-medium-1;
            }
          }
        }

        & .filter-category {
          display: flex;
          flex-direction: column;
          gap: 16px;
          & .order-sort {
            & .sort-label {
              display: flex;
              align-items: center;
              & .sort-text {
                color: var(--color-gray-400);
                @include typo.title-medium-1;
              }
            }

            & .sort-types {
              display: flex;
              gap: 16px;
              justify-content: center;
              & .sort-by {
                @include typo.body-medium-2;
                color: var(--color-gray-200);
              }
              & .selected {
                color: var(--color-green-50);
              }
            }
          }

          & .type-filter {
            & .type-label {
              display: flex;
              align-items: center;
              & .type-text {
                color: var(--color-gray-400);
                @include typo.title-medium-1;
              }
            }

            & .issue-types {
              display: flex;
              gap: 16px;
              justify-content: center;
              & .type {
                @include typo.body-medium-2;
                color: var(--color-gray-200);
              }
              & .selected {
                color: var(--color-green-50);
              }
            }
          }
        }

        & .filter-issue-labels {
          width: 100%;
          border: 1px solid var(--color-gray-40);
          display: flex;
          flex-wrap: wrap;
          padding: 12px 11px;
          gap: 12px;
          border-radius: 16px;
          & .issue-label {
            @include typo.body-medium-2;
          }
          & .selected {
            color: var(--color-blue-50);
          }
        }
      }

      & .board-related {
        display: flex;
        justify-content: center;
        flex-direction: column;
        & .board-label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          & .board-label-icon {
            width: 12px;
            height: 12px;
          }
          & .board-label-text {
            color: var(--color-gray-100);
            @include typo.label-medium-1;
          }
        }

        & .filter-issue-states {
          margin-top: 24px;
          display: flex;
          justify-content: center;
          gap: 28px;
          & .state-container {
            position: relative;
            cursor: pointer;
            & .issue-state {
              width: 100%;
              @include typo.body-medium-2;
              color: var(--color-gray-200);
            }
            & .state-count {
              position: absolute;
              background-color: var(--color-blue-40);
              color: var(--color-gray-00);
              font-size: 8px;
              font-weight: 400;
              width: 16px;
              height: 11px;
              text-align: center;
              border-radius: 20px;
            }
            & .selected {
              color: var(--color-blue-50);
            }
          }
        }

        & .board-button {
          margin-top: 8px;
          padding: 4px 8px;
          background-color: transparent;
          border: none;
          color: var(--color-blue-50);
          @include typo.label-small-2;
        }
      }
    }

    & .filter-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 17px;
      & .theme-toggle {
        display: flex;
        align-items: center;
        color: var(--color-gray-300);
        @include typo.label-medium-3;
        gap: 8px;
        cursor: pointer;
      }
      & .default-reset {
        display: flex;
        align-items: center;
        color: var(--color-gray-300);
        @include typo.label-medium-3;
        gap: 8px;
        cursor: pointer;
      }
    }
  }
  & .issue-filter[data-filter-visible="false"] {
    display: none;
  }

  & .issue-filter[data-filter-visible="true"] {
    display: flex;
  }
  & .set-filters {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    height: 60px;
    background-color: var(--color-blue-40);
    color: var(--color-gray-10);
    @include typo.title-large-2;
    border: none;
  }
  & .filter-footer-icon {
    display: none;
  }

  & .issues-view {
    height: 100vh;
    overflow-y: scroll;
    & .issue-list {
      padding-top: 86px;
      padding-inline: 12px;
      padding-bottom: 59px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      @include utils.scroll-hidden;
    }
    & .new-issue {
      display: flex;
      align-items: center;
      height: 43px;
      width: 100%;
      padding-inline-start: 8px;
      background-color: var(--color-gray-00);
      bottom: 0px;
      position: fixed;
      z-index: 1;
      border-top: 1px solid var(--color-gray-50);
      & .new-issue-icon {
        width: 32px;
        height: 32px;
      }
      & .new-issue-text {
        color: var(--color-green-50);
        @include typo.body-medium-2;
      }
    }
  }
  & .hidden-scroll {
    overflow: hidden;
  }

  &.issue-list[data-filter-visible="true"] {
    height: 100vh;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .view-container {
    & .header {
      width: min(40%, 360px);
      border-left: 1px solid var(--color-gray-50);
      & .avatar {
        & .profile-options {
          left: unset;
          right: 0;
          top: 32px;
        }
      }
    }
    & .issue-filter {
      width: min(40%, 360px);
      display: flex;
      border-left: 1px solid var(--color-gray-50);
    }
    & .issue-filter[data-filter-visible="false"] {
      display: flex;
    }

    & .issues-view {
      padding-inline-start: min(40%, 360px);
      & .issue-list {
        padding-top: 20px;
      }
    }

    & .set-filters {
      display: none;
    }
    & .filter-footer-icon {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      bottom: 0;
      z-index: 4;
      height: 43px;
      width: min(40%, 360px);
      background-color: var(--color-gray-10);
      border-top: 1px solid var(--color-gray-50);
      border-left: 1px solid var(--color-gray-50);
    }
  }
}
