@use "../../styles/typography.scss" as typo;
@use "../../styles/utils.scss" as utils;

.overlay {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(66, 82, 110, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & .box {
    width: 336px;
    height: 177px;
    background-color: var(--color-gray-00);
    border-radius: 14px;
    box-shadow: 0px 5px 15px 0px rgba(9, 30, 66, 0.15);
    & .header {
      color: var(--color-gray-500);
      @include typo.title-large-2;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--color-gray-30);
    }
    & .text {
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-gray-500);
      @include typo.body-medium-1;
    }
    & .buttons {
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      & button {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
      }
      & .logout {
        background-color: var(--color-red-50);
        color: var(--color-gray-00);
      }
    }
  }
}
