@use "../../styles/typography.scss" as typo;
@use "../../styles/utils" as utils;

.overlay {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(66, 82, 110, 0.7);
  position: fixed;
  top: 0;

  & .content {
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-00);

    & .header {
      position: fixed;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid var(--color-gray-30);
      padding-inline: 20px;
      background-color: var(--color-gray-20);
      & .issue-related {
        display: flex;
        gap: 8px;
        align-items: center;
        & .edit-button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
        & .issue-type-tag {
          @include typo.label-medium-3;
        }
        & .issue-title {
          color: var(--color-gray-500);
          @include typo.title-medium-2;
        }
      }
      & .close-button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 76px;
      width: 100%;
      height: calc(100% - 54px);
      overflow: scroll;
      @include utils.scroll-hidden;
      padding-inline: 12px;

      & .issue-labels {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        border-radius: 16px;
        flex-shrink: 0;

        & .label {
          @include typo.label-medium-3;
        }
      }

      & .description {
        flex-shrink: 0;

        width: 100%;
        min-height: 71px;
        color: var(--color-gray-500);
        @include typo.title-small-2;
        padding-bottom: 10px;
      }
      & .files {
        flex-shrink: 0;

        width: 100%;

        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      & .issue-footer {
        flex-shrink: 0;

        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        & .issue-votes {
          display: inline-flex;
          gap: 8px;
          & .vote-button {
            height: 28px;
            width: 46px;
            background-color: var(--color-gray-40);
            color: var(--color-gray-500);
            border: none;
            border-radius: 20px;
            padding-inline: 8px;
            padding-block: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          & .selected {
            background-color: var(--color-green-10);
            border: 1px solid var(--color-green-60);
          }
          & .vote-count {
            @include typo.label-medium-1;
          }
        }

        & .issue-info {
          display: flex;
          width: 148px;
          gap: 16px;
          align-items: center;

          justify-content: flex-end;
          & .issue-comments {
            display: flex;
            align-items: center;
            border: none;
            gap: 4.5px;
            background-color: transparent;
            width: 33px;
            & .comments-icon {
              width: 13.5px;
              height: 13.5px;
            }
            & .comments-count {
              color: var(--color-gray-500);
              text-align: center;
              height: 20px;
              @include typo.label-medium-1;
            }
          }
          & .issue-date {
            text-wrap: nowrap;
            color: var(--color-gray-500);
            @include typo.label-medium-1;
          }
          & .issue-state {
            width: 20px;
            height: 20px;
          }
        }
      }
      & .comment-section {
        flex-shrink: 0;

        background-color: var(--color-gray-20);
        height: 238px;
        margin-top: auto;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color: var(--color-gray-30);
        border-radius: 14px 14px 0 0;
        width: 100%;
        padding-inline: 16px;
        padding-block: 12px;
        overflow: scroll;
        @include utils.scroll-hidden;
      }
    }

    & .footer {
      position: fixed;
      display: flex;
      align-items: center;
      z-index: 10;
      width: 100%;
      height: 54px;
      bottom: 0;
      padding-inline: 16px;
      & .submit-button {
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
      }
      & .comment-input {
        width: 100%;
        border: none;
        color: var(--color-gray-400);
        caret-color: var(--color-blue-50);
        background-color: var(--color-gray-00);
        &::placeholder {
          color: var(
            --color-green-50
          ); 
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    & .content {
      width: 52%;
      height: 80%;
      border-radius: 14px;
      & .header {
        position: static;
        background-color: transparent;
      }

      & .main {
        padding-top: 16px;
        padding-inline: 32px;
        padding-bottom: 0;
        height: calc(100% - 120px);
        overflow: scroll;
        & .decription {
          height: 100%;
        }
      }

      & .footer {
        position: static;
        display: flex;
        width: 100%;
        height: 54px;
        bottom: unset;
        margin-top: auto;
        align-items: center;
        border-top: 1px solid var(--color-gray-30);
      }
    }
  }
}
