@mixin scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
    display: none;
    background-color: transparent;
  }
}

@mixin make-ellipsis {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
