

//font size
$font-size-display-large: 36px;
$font-size-display-medium: 32px;
$font-size-display-small: 28px;

$font-size-headline-large: 24px;
$font-size-headline-medium: 22px;
$font-size-headline-small: 20px;

$font-size-title-large-1: 18px;
$font-size-title-large-2: 16px;
$font-size-title-medium-1: 15px;
$font-size-title-medium-2: 14px;
$font-size-title-small-1: 13px;
$font-size-title-small-2: 12px;

$font-size-body-large: 16px;
$font-size-body-medium-1: 15px;
$font-size-body-medium-2: 14px;
$font-size-body-small: 13px;

$font-size-label-medium-1: 12px;
$font-size-label-medium-2: 11px;
$font-size-label-small: 10px;

//font wieght
$font-weight-regular: 400;
$font-weight-medium: 500;

//line height
$line-height-display-large: 46px;
$line-height-display-medium: 40px;
$line-height-display-small: 36px;

$line-height-headline-large: 32px;
$line-height-headline-medium: 30px;
$line-height-headline-small: 28px;

$line-height-title-large-1: 26px;
$line-height-title-large-2: 24px;
$line-height-title-medium-1: 24px;
$line-height-title-medium-2: 22px;
$line-height-title-small-1: 22px;
$line-height-title-small-2: 20px;

$line-height-body-large: 24px;
$line-height-body-medium-1: 24px;
$line-height-body-medium-2: 22px;
$line-height-body-small: 22px;

$line-height-label-medium: 20px;
$line-height-label-small: 18px;


