[data-theme="dark"] {
  --color-gray-500: #ffffff;
  --color-gray-400: #fafbfc;
  --color-gray-300: #f4f5f7;
  --color-gray-200: #ebecf0;
  --color-gray-100: #8e8e8e;
  --color-gray-50: #646464;
  --color-gray-40: #363636;
  --color-gray-30: #292929;
  --color-gray-20: #222224;
  --color-gray-10: #363636;
  --color-gray-00: #1e1e1e;
  --color-blue-60: #156fd1;
  --color-blue-50: #238ff3;
  --color-blue-40: #47a5f3;
  --color-green-60: #292929;
  --color-green-50: #0aca9b;
  --color-green-40: #47d7b4;
  --color-green-10: #dcfaf5;
  --color-red-50: #f74455;
  --color-bg: #121212;
  --color-text: #121212;
}
