:root {
  --color-gray-500: #091e42;
  --color-gray-400: #42526e;
  --color-gray-300: #5e6c84;
  --color-gray-200: #7a869a;
  --color-gray-100: #b3bac5;
  --color-gray-50: #c1c7d0;
  --color-gray-40: #dfe1e6;
  --color-gray-30: #ebecf0;
  --color-gray-20: #f4f5f7;
  --color-gray-10: #fafbfc;
  --color-gray-00: #ffffff;
  --color-blue-60: #156fd1;
  --color-blue-50: #238ff3;
  --color-blue-40: #47a5f3;
  --color-green-60: #09b188;
  --color-green-50: #0aca9b;
  --color-green-40: #47d7b4;
  --color-green-10: #dcfaf5;
  --color-red-50: #f74455;
  --color-bg: #5e6c84;
  --color-text: #091e42;
}
