@use "../../styles/utils.scss" as utils;

.container-view {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color-gray-00);

  & .header {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 66px;

    & .home-button-container {
      position: absolute;
      z-index: 2;
      top: 25px;
      inset-inline-start: 25px;
    }

    & .header-bar {
      height: 66px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-gray-20);
      border-bottom: 1px solid var(--color-gray-50);
      z-index: 1;
      & .mobile-logo {
        width: 106px;
        height: 34px;
      }
    }
  }

  & .desktop-logo {
    display: none;
  }

  & .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .content {
    width: 100%;
    max-width: 420px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  & .container-form {
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .form {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
    & .error-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      & .error-icon {
        display: inline-block;
      }
      & .error-message {
        padding-inline-start: 4px;
        display: inline-block;
        color: var(--color-red-50);
      }
    }
    & .submit-button {
      height: 54px;
      width: 100%;
      border-radius: 14px;
      margin-top: 24px;
      background-color: var(--color-blue-50);
      border-color: transparent;
      color: var(--color-gray-00);
      margin-bottom: 24px;
      cursor: pointer;
    }
    & .login-redirect-button {
      height: 33px;
      width: 155px;
      color: var(--color-blue-50);
      background-color: transparent;
      border-color: transparent;
    }
  }

  & .bale-logo {
    width: 52px;
    height: 20px;
    margin-bottom: 30px;
    margin-top: auto;
  }
  .desktop-image {
    display: none;
  }
}

@media (min-width: 800px) {
  .container-view {
  background-color: var(--color-gray-20);

    & .header {
      position: fixed;
      width: 100%;
      z-index: 3;

      & .home-button-container {
        position: absolute;
        z-index: 4;
        top: 25px;
        inset-inline-start: 25px;
      }
      & .header-bar {
        display: none;
      }
    }

    & .body {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-inline: min(6rem, 6%);
      padding-block: min(4rem, 6%);
    }
    & .content {
      background-color: var(--color-gray-00);
      width: 50%;
      height: 100%;
      border-radius: 0px 40px 40px 0px;
      display: flex;
      flex-shrink: auto;
      overflow: scroll;
      @include utils.scroll-hidden;
    }

    & .container-form {
      padding-top: 4%;
    }

    & .desktop-logo {
      display: block;
      width: 122px;
      height: 35px;
      margin-bottom: 24px;
    }

    & .desktop-image {
      display: block;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
      object-fit: cover;
      border-radius: 40px 0px 0px 40px;
    }
  }
}
