@use "../../styles/typography.scss" as typo;

.own-comment-container {
  width: 100%;
  padding-block: 7px;
  display: flex;
  position: relative;
  gap: 6px;
  align-items: flex-end;
  padding-left: 27px;
  & .profile {
    width: 36px;
    height: 36px;
    margin-bottom: 2px;
  }
  & .comment-tail {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    right: 32px;
  }
  & .comment-box {
    z-index: 2;
    background-color: var(--color-green-10);
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: calc(100% - 44px);
    & .writer {
      color: var(--color-blue-50);
      @include typo.label-medium-3;
    }
    & .text {
      overflow-x: hidden;
      color: var(--color-other-text);
      @include typo.label-medium-1;
    }
    & .date {
      width: fit-content;
      color: var(--color-other-text);
      line-height: 17.5px;
      font-size: 10px;
      font-weight: 300;
      margin-right: auto;
    }
  }
}

.comment-container {
  width: 100%;
  padding-block: 7px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  gap: 6px;
  align-items: flex-end;
  padding-right: 27px;
  & .profile {
    width: 36px;
    height: 36px;
    margin-bottom: 2px;
    border-radius: 50%;
  }
  & .comment-tail {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    left: 32px;
  }
  & .comment-box {
    z-index: 2;
    background-color: var(--color-gray-00);
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: calc(100% - 44px);
    & .writer {
      color: var(--color-blue-50);
      @include typo.label-medium-3;
    }
    & .text {
      overflow-x: hidden;
      color: var(--color-gray-500);
      @include typo.label-medium-1;
    }
    & .date {
      width: fit-content;
      color: var(--color-gray-500);
      line-height: 17.5px;
      font-size: 10px;
      font-weight: 300;
      margin-left: auto;
    }
  }
}
